.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  width: 150px;
  height: 150px;
  background-color: #f4ca16;
  border-radius: 50%;
}
