* {
  box-sizing: border-box;
}
@keyframes header__title {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #f48200;
  }
  to {
    text-shadow: 0 0 20px #f48200, 0 0 35px #f48200, 0 0 40px #f48200,
      0 0 50px #f48200, 0 0 800px #f48200;
  }
}
body {
  background-image: url("https://phonoteka.org/uploads/posts/2021-05/1620923807_9-phonoteka_org-p-delovoi-fon-rabochego-stola-12.jpg");
  background-repeat: no-repeat;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    margin: 0;
    padding: 10px;
    font-size: 64px;
    color: #fff;
    animation: 2s header__title alternate-reverse infinite;
  }

  &__scoreValue {
    margin: 0;
    padding: 10px;
    font-size: 32px;
    color: #fff;
    text-shadow: #000 0 0 20px;

    span {
      color: #f49600;
    }
  }

  &__clickStrength {
    color: #fff;
    margin: 0;

    span {
      color: #f49600;
    }
  }
}

.clickArea {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 150px;
}
.iconButton {
  position: absolute;

  cursor: pointer;
  user-select: none;
  width: 150px;
  height: 150px;
  background-color: #f49600;
  background-image: url("./assets/images/puzaIcon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  filter: drop-shadow(0 0 40px#f48200);
  transition: 0.05s;
  border: none;
}
.iconButton:hover:active {
  width: 150px;
  height: 150px;
}
.iconButton:hover {
  width: 160px;
  height: 160px;
}

.textValue {
  color: #fff;
  font-size: 32px;
}
.shop {
  position: relative;
  top: 250px;
}
.clearResult {
  position: absolute;
  top: 250px;
}
