@import "./components/header";
@import "./components/clickArea";
@import "./components/shop";
@import "./components/footer";
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
  list-style: none;
}

body {
  background-image: url("https://phonoteka.org/uploads/posts/2021-05/1620923807_9-phonoteka_org-p-delovoi-fon-rabochego-stola-12.jpg");
  background-repeat: no-repeat;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
